/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #40BF08;
    --rosso: #B92525;
    --grigioscuro: #202124;
    --grigiochiaro: lightgrey;
    --azzurro: rgb(13, 168, 219);
    --bianco: white;
}

/* parte header */

header{
    width: 100%;
    height: 3vh;
    border: 1px solid black;
}
#logo{
    width: 30px;
    height: 25px;
}
.logo{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
.fa-thin{
    margin-right: 1vw;
}
/* parte main */

main{
    width: 100%;
    height: 89vh;
}


/* sezione strumenti */

.strumenti{
    border: 1px solid black;
    width: 100%;
    height: 8vh;
    background-color: var(--grigioscuro);
}
.container-str{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}
.fa-solid{
    font-size: 40px;
    color: var(--grigiochiaro);
    /* margin-left: 50px; */
}
.fa-arrow-up-from-bracket{
    color: var(--verde);
}

.esc{
    background-color: var(--rosso);
    color: var(--bianco);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin-right: 15px;
}
.str-sx{
    display: flex;
    flex-direction: row;
}
.bot-icon{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    color: var(--grigiochiaro);
    text-align: center;
}
.str-center{
    display: flex;
    flex-direction: row;
}