/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #40BF08;
    --rosso: #B92525;
    --grigioscuro: #202124;
    --grigiochiaro: lightgrey;
    --azzurro: rgb(13, 168, 219);
    --bianco: white;
    --rossoacceso: red;
}
html{
    font-family: 'Roboto', sans-serif;
}
/* parte header */

header{
    width: 100%;
    height: 3vh;
}

.icone-nav{
    display: flex;
    align-items: center;
}

.navbar-icon{
    margin: 0 15px
}
#logo{
    width: 30px;
    height: 25px;
}
.logo-nav{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}

/* parte main */

main{
    width: 100%;
    height: 89vh;
    background-color: var(--grigioscuro);
}
.top-sx span{
    color: var(--grigiochiaro);
}
.top-dx span{
    color: var(--grigiochiaro);
    margin-right: 5px;
}
.top-main-div{
    display: flex;
    justify-content: space-between;
}
.fa-table-cells{
    color: var(--grigiochiaro);
}
.fa-shield{
    color: var(--verde);
    margin: 0 5px;
}
.fa-circle{
    color: var(--rossoacceso);
}
.top-main-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* parte griglia */

.container-main{
    width: 100%;
}
.fa-caret-right{
    color: var(--grigiochiaro);
}
.fa-caret-left{
    color: var(--grigiochiaro);
}
.aside-sx{
    display: flex;
    align-items: center;
    width: 15%;
}
.aside-dx{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.griglia img{
    width: 260px;
    height: 155px;
    margin: 2px;
}
.griglia{
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.bot-main-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* sezione strumenti */

.strumenti{
    width: 100%;
    height: 8vh;
    background-color: var(--grigioscuro);
}
.container-str{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}
#icon-green{
    color: var(--verde);
}
#text-green{
    color: var(--verde);
}
.strumenti .fa-solid{
    font-size: 30px;
    color: var(--grigiochiaro);
}
.esc{
    background-color: var(--rosso);
    color: var(--bianco);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin-right: 25px;
}
.str-sx{
    display: flex;
    flex-direction: row;
}
.bot-icon{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.strumenti p{
    color: var(--grigiochiaro);
    text-align: center;
}
.str-center{
    display: flex;
    flex-direction: row;
}