/* utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde: #40BF08;
    --rosso: #B92525;
    --grigioscuro: #202124;
    --grigiochiaro: lightgrey;
    --azzurro: rgb(13, 168, 219);
    --bianco: white;
}

/* parte header */

header{
    width: 100%;
    height: 3vh;
    border: 1px solid black;
}

.icone-nav{
    display: flex;
    align-items: center;
}

.navbar-icon{
    margin: 0 15px
}
#logo{
    width: 30px;
    height: 25px;
}
.logo-nav{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}

/* parte main */

main{
    width: 100%;
    height: 89vh;
}


/* sezione strumenti */

.strumenti{
    border: 1px solid black;
    width: 100%;
    height: 8vh;
    background-color: var(--grigioscuro);
}
.container-str{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}
#icon-green{
    color: var(--verde);
}
#text-green{
    color: var(--verde);
}
.strumenti .fa-solid{
    font-size: 30px;
    color: var(--grigiochiaro);
}
.esc{
    background-color: var(--rosso);
    color: var(--bianco);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin-right: 15px;
}
.str-sx{
    display: flex;
    flex-direction: row;
}
.bot-icon{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.strumenti p{
    color: var(--grigiochiaro);
    text-align: center;
}
.str-center{
    display: flex;
    flex-direction: row;
}